.faqs {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faqs > h1 {
  font-size: 32px;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: #eeeeee;
  border-radius: 8px;
}

.question {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
}

.question > span {
  padding-left: 12px;
}

.icon {
  height: fit-content;
  width: fit-content;
}

.downIcon {
  rotate: 90deg;
}

.answer {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  padding-left: 12px;
  color: rgb(126, 126, 126);
  padding-top: 8px;
}
